:root {
    --primary-green: #4CAF50;  /* Tombol utama */
    --dark-green: #2E7D32;     /* Header */
    --light-green: #DCEDC8;    /* Background */
    --accent-brown: #5D4037;   /* Aksen */
    --white: #f8f8f8;
}

body {
    background-color: var(--white);
}

ul {
    list-style: none;
}

:root {
    --bs-primary: var(--primary-green);
    --bs-dark: var(--dark-green);
    --bs-light: var(--light-green);
}
.navbar {
    border-bottom: 1px solid var(--dark-green) !important;
}
.bg-primary {
    background-color: var(--bs-primary) !important;
}
.btn-primary {
    background-color: var(--bs-primary);
}
.btn-primary:hover,.nav-item:hover,.nav-link:hover {
    background-color: var(--bs-dark);
    color: var(--white) !important;
    border: none;
}

.sidebar {
    height: 100dvh;
    width: 240px;
    padding: 84px 0 0 0;
}

.sidebar-nav {
    width: 100%;
    list-style: none;
    text-decoration: None;
}
.main {
    margin-top: 100px;
}

.container_sect {
    
    border: 3px solid var(--bs-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.label {
    width: 9rem;
}