* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-light-green: #626e5f;  /* Tombol utama */
    --primary-green: #528644;  /* Tombol utama */
    --primary-dark-green: #2f4b28;
    --navbar-dark-mode: #212121;
    --background-dark-mode: #1A1A1A;
    --text-dark-mode: #F2F2F2;
    --secondary-dark-mode: #A0A0A0;
}
/* Element */
body {
    background-color: white;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
th, td {
    white-space: nowrap; /* agar teks tidak pindah baris */
}


/* Custom warna */
.bg-primary-green {
    background-color: var(--primary-green);
}

.btn-primary-green {
    background-color: var(--primary-green);
}

.text-primary-green {
    color: var(--primary-green);
}



/* Custome syle */
.main {
    margin-top: 100px;
}

.main-settings {
    display: flex;
    justify-content: stretch;
    align-items: center;
    min-height: 100dvh;
}
.rows-settings {
    width: 700px;
    min-height: 500px;
    align-items: stretch;
    background-color: var(--primary-light-green);
    /* color: var(--text-dark-mode); */
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 50px;
}

.nav-settings {
    border-right: 1px solid #535353;
}


.img-sizing {
    height: 250px;
    box-sizing: border-box;
}

.radius-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.radius-top-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border-primary-1 {
    border: 1px solid var(--primary-green);
}

.link-card {
    background-color: inherit;
    text-decoration: none;
    color: inherit;
}
.container_sect {
    
    border: 3px solid var(--primary-green);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.label {
    width: 9rem;
}


.table-workers {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Bootstrap edit */
.nav-link {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* Custom hover */
.btn-primary-green:hover {
    background-color: var(--primary-dark-green);
}
.alert-link:hover {
    background-color: var(--primary-dark-green);
    color: white;
}
/* Custom active */
.active {
    background-color: var(--primary-dark-green);
}

/* Bootstrap hover edit */
.nav-link:hover{
    background-color: var(--primary-dark-green);
}
.pagination .page-item.active .page-link {
    background-color: var(--primary-green);
    border-color: #198754;
    color: white;
}

/* Hover untuk tombol */
.pagination .page-link:hover {
    color: #198754;
}

@media only screen and (max-width:768px){
    .for-hidden {
        display: none;
    }
}